<div id="<%= dom_id pedido %>">
  <p>
    <strong>ID pedido:</strong>
    <%= pedido.id %>
  </p>
  <p>
    <strong>Fecha entrega:</strong>
    <%= pedido.fechaEntrega %>
  </p>

  <p>
    <strong>User:</strong>
    <%= pedido.user.email %>
  </p>

</div>
